<h3>Calculation Summary</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Term</th>
      <th scope="col">Amortization Period</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <th scope="row">{{row.category}}</th>
      <td *ngIf="row.category === 'Number of Payments'">{{row.term}}</td>
      <td *ngIf="row.category !== 'Number of Payments'">{{row.term | currency}}</td>
      <td *ngIf="row.category === 'Number of Payments'">{{row.amortizationPeriod}}</td>
      <td *ngIf="row.category !== 'Number of Payments'">{{row.amortizationPeriod | currency}}</td>
    </tr>
  </tbody>
</table>

<hr>

<div>
  <h2>
    Mortgage Summary</h2>
  <div *ngIf="model && mortizationSummary">
    <p>
      &nbsp;Over the {{ model.amortizationYears }}-year amortization period, you will:
    </p>
    <ul>
      <li>
        have made <strong>{{mortizationSummary.numberOfPayments}}</strong> monthly (12x per year) payments of <strong>{{mortizationSummary.mortgagePayment | currency}}</strong>.</li>
      <li>
        have paid <strong>{{mortizationSummary.principalPayments | currency}}</strong> in principal, <strong>{{mortizationSummary.interestPayments | currency}}</strong> in interest, for a total of
        <strong>{{mortizationSummary.totalCost | currency}}</strong>.</li>
    </ul>
    <p>
      &nbsp;Over the {{ model.term }}-year term, you will:
    </p>
    <ul>
      <li>
        have made <strong>{{termSummary.numberOfPayments}}</strong> monthly (12x per year) payments of <strong>{{termSummary.mortgagePayment | currency}}</strong>.</li>
      <li>
        have paid <strong>{{termSummary.principalPayments | currency}}</strong> in principal, <strong>{{termSummary.interestPayments | currency}}</strong> in interest, for a total of
        <strong>{{termSummary.totalCost | currency}}</strong>.</li>
    </ul>
    <p>
      &nbsp;At the end of your {{ model.term }}-year term, you will:
    </p>
    <ul>
      <li>
        have a balance of <strong>{{mortizationSummary.principalPayments - termSummary.principalPayments | currency}}</strong>.</li>
    </ul>
  </div>
</div>